{% extends 'store/main.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" method="POST">
                {% csrf_token %}
                <div id="shipping-info">
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country..">
                    </div>
                </div>
                <hr>
                <div>
                    <p>Payment Method:</p>
                    <hr>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                              PayPal
                            </label>
                          </div>
                          <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label" for="flexRadioDefault2">
                              Credit Card
                            </label>
                          </div>
                          <div class="form-field">
                              <strong><label for="cardNumber" class="form-label">Card Number</label></strong>
                              <input class="form-control" type="text" name="cardNumber" placeholder="123 456 789">
                          </div>
                          <div class="form-field">
                            <strong><label for="expMonth" class="form-label">Exp Month/Exp Year</label></strong>
                            <input class="form-control" type="text" name="expMonth" placeholder="MM/YY">
                        </div>
                        <div class="form-field">
                            <strong><label for="cvv" class="form-label">CVV</label></strong>
                            <input class="form-control" type="text" name="cvv" placeholder="3 digits">
                        </div>
                    </div>
                </div>
                <hr>
                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Submit">
            </form>
        </div>
        <br>

        <div class="box-element hidden" id="payment-info">
            <small>Paypal options</small>
            <a class="btn btn-success" id="make-payment" href="#">Make Payment</a>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <a class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% if order.complete != True %}
                {% for item in orderItems %}
                <div class="cart-row">
                    <div style="flex: 2"><img class="row-image" src="{{item.product.imageUrl}}"></div>
                    <div style="flex: 2"><p>{{item.product.name}}</p></div>
                    <div style="flex: 1"><p>${{item.product.price|floatformat:2}}</p></div>
                    <div style="flex: 1"><p>x{{item.quantity}}</p></div>
                </div>
                {% endfor %}
            {% endif %}
            {% if order.complete != True %}
                <h5>Items: {{order.get_cart_items}}</h5>
                <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
            {% else %}
                <h5>Items: </h5>
                <h5>Total: </h5>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}